@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

p {
  @apply font-chakra font-normal text-xs leading-3;
}

a {
  @apply font-chakra font-normal text-xs leading-3;
}

h1 {
  @apply font-chakra uppercase font-bold text-left text-real-gray;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
