<div class="w-full max-w-2xl my-6 lg:mx-0">
  <ul class="list-inside">
    <li class="list-none p-0 h-5 opacity-10 select-none">
      <a target="_blank">31/05 – Sydney (Sydney Opera House)</a>
    </li>
    <li class="list-none p-0 h-5">
      <a
        href="https://princebandroom.oztix.com.au/outlet/event/ a408512f-2c2c-4486-9b42-21de54f55932"
        target="_blank"
        >02/06 – Melbourne (Prince Bandroom)*</a
      >
    </li>
    <li class="list-none p-0 h-5 opacity-10">
      <a target="_blank">03/06 – Melbourne (170 Russell)</a>
    </li>
    <li class="list-none p-0 h-5 opacity-10">
      <a target="_blank">04/06 – Brisbane (The Triffid)</a>
    </li>
    <li class="list-none p-0 h-5">
      <a href="https://moshtix.com.au/v2/event/ecco2k/164936" target="_blank"
        >07/06 – Perth (The Rechabite)</a
      >
    </li>
    <li class="list-none p-0 h-5">
      <a
        href="https://www.undertheradar.co.nz/tour/24644/Ecco2K.utr"
        target="_blank"
        >09/06 – Auckland (Studio)</a
      >
    </li>
  </ul>
</div>
